#about-logo {
    display: table;
    background-color: #7289da;
    height: 100%;
    width: 100%;
    text-align: center;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

div {
    overflow: auto;
}

#about {
    text-align: center;
    max-height: 55%;
    width: 100%;
    display: inline-block;
}

footer {
    text-align: center;
}

#big-join-hi-button {
    width: 20%;
}

.vcenter {
    display: table;
}

.vcenter * {
    display: table-cell;
    vertical-align: middle;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }
