#about-logo {
    display: table;
    background-color: #7289da;
    height: 100%;
    width: 100%;
    text-align: center;
}

#about-logo img {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#about {
    text-align: center;
    height: 55%;
    width: 100%;
    overflow: scroll;
}

footer {
    text-align: center;
}

#big-join-hi-button {
    width: 20%;
}

.vcenter {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.vcenter img {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }
