::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

#about-logo {
    display: table;
    background-color: #7289da;
    height: 100%;
    width: 100%;
    text-align: center;
}

html {
    height: 100%;
    scrollbar-width: thin;
}

html * {
    scrollbar-width: thin;
}

body {
    min-height: 100%;
    height: 100%;
    overflow-y: scroll;
}

div {
    overflow: auto;
}

#about {
    text-align: center;
    max-height: 55%;
    width: 100%;
    display: block;
}

footer {
    position: relative;
    text-align: center;
    width: 100%;
    display: inline-block;
}
.cookies {
    position: sticky;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.cookies * {
    display: inline-block;
}

.closefooter {
    float: right;
}

#cookienotif:target {
    display: none;
}

#big-join-hi-button {
    width: 20%;
}

.vcenter {
    display: table;
}

.vcenter > * {
    display: table-cell;
    vertical-align: middle;
}

.blurple {
    background-color: #7289da;
    color: white;
}

.body {
    width: 100%;
    height: 100%;
    text-align: center;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }