<footer>
    <p class="footer-text">
        Website made by the hi staff: FrostTaco and LittleWhole.
        <br/>
        The only information we store about your Discord account is your account ID. This is <a href="https://support.discordapp.com/hc/en-us/articles/206346498-Where-can-I-find-my-User-Server-Message-ID-">publicly available</a> to essentially anyone.
        <br/>
        The only cookies we store are to allow you to login to our website, and to ensure you have a smooth experience browsing our website. By continuing to use our website, you agree to this usage of cookies.
    </p>
</footer>