<html style="overflow: hidden;">
    <head>
        <title>Local Stream</title>
        <link rel="stylesheet" href="../style/winwheel.css" type="text/css" />
        <script type="text/javascript" src="../js/winwheel.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>

        <link rel="stylesheet" href="./style/fixed.css">
    </head>
    <body class="blurple vcenter" style="text-align: center; overflow: hidden;">
        <h1>hi - The Giveaway Server</h1>
    </body>
</html>
